@import 'zero';
@import 'variables';
@import 'basic';

body {
    background-color: #2d6e6b;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2d6e6b;
}

.container {
    display: flex;
    max-width: 800px;
    width: auto;
    background-color: #8ac9c6;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 25px;
}

.grid{
    display: grid;
    padding: 10px;
}

.grid-3 { grid-template-columns: auto auto auto; }
.grid-4 { grid-template-columns: auto auto auto auto; }
.grid-5 { grid-template-columns: auto auto auto auto auto; }
.grid-6 { grid-template-columns: auto auto auto auto auto auto; }
.grid-7 { grid-template-columns: auto auto auto auto auto auto auto; }
.grid-8 { grid-template-columns: auto auto auto auto auto auto auto auto; }

.element {
    width: 70px;
    height: 70px;
    input {
        width: 60px;
        height: 60px;
        padding: 10px;
        border-radius: 5px;
        border: #2d6e6b;
        font-size: 24px;
        text-align: center;
        background: linear-gradient(48deg, rgba(255,255,255,1) 0%, rgba(241,241,255,1) 41%, rgba(239,252,255,1) 100%);
        box-shadow: #2d6e6b 1px 1px 4px 0px;
        color: #1d4644;
    }
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h2 {
    max-width: calc(70px * 5);
    text-align: center;
    margin-bottom: 12px;
    font-size: .8rem;
}

h3 {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 900;
}

.size-selector {
    display: flex;
}

a {
    display: flex;
    cursor: pointer;
    margin: 0 4px;
    transition: all .3s;
    &:hover{
        text-decoration: underline;
        transform: scale(1.2);
    }
}

button {
    width: 200px;
    height: 50px;
    border: #2d6e6b solid 2px;
    color: #2d6e6b;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 12px;
    margin-top: 10px;
    background: #81e7e2;
    &:hover {
        background: #a5f7f3;
    }
    &:active {
        background: #00cdbf;
    }
}

.is-write {
    text-transform: uppercase;
    margin: 10px 0 0;
    font-weight: 600;
    font-size: 2.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #2d6e6b;
}

.is-good {
    text-transform: uppercase;
    margin: 10px 0 0;
    font-weight: 600;
    font-size: 2.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #168a22;
}

.is-bad {
    text-transform: uppercase;
    margin: 10px 0 0;
    font-weight: 600;
    font-size: 2.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #f54646;
}